build/
bin/
gen/
.settings/
.gradle/
.DS_Store
.classpath
.project
local.properties
persistence.xml
dist/

# IntelliJ IDEA
out/
*.iml
.idea/*
!.idea/codeStyles
*.iws
.idea_modules/
*.ipr
.jpb

#output files
target

release.properties
pom.xml.releaseBackup
nb-configuration.xml
